@import 'variables.scss';

//SECTIONS 
$sections-size: 300px;
$icon-size: 150px;

.slider-holder{
    background: $purple;
    overflow: hidden;
    
    .slider{
        box-shadow: 0 0 10px #000;
        width: $desk-width;
        margin: 0 auto;
        
        img{
            vertical-align: top;
        }
    }
}

.mainHolder{
    
    .contentHolder{
        box-shadow: 0 0 10px #000;
        width: $desk-width;
        margin: 0 auto;
        min-height: 800px;
        
        .sections{
            height: $sections-size;
            position: relative;
            
            > li{
                float: left;
                width: 33.33%;
                position: absolute;
                height: $sections-size;
                transition: all 0.5s;
                cursor: pointer;
                z-index: 3;
            }
            
            >li:nth-child(1){
                top:0;
                left: 33.33*0%;
            }
            
            >li:nth-child(2){
                top:0;
                left: 33.33*1%;
            }
            
            >li:nth-child(3){
                top:0;
                left: 33.33*2%;
            }
            
            li{
                h2{
                    position: relative;
                    z-index: 4;
                    text-align: center;
                    text-transform: uppercase;
                    color: $purple;
                    font-weight: 700;
                    font-size: 20px;
                    padding: 70px 0 20px 0;
                }
                
                ul{
                    position: relative;
                    z-index: 4;
                
                    li{
                        text-align: center;
                        color: $gray;
                    }
                }
            }
            
            //>li:hover,
            >li.selected{
                background: $cian;
                height: 380px;
                top: -50px;
                
                h2,
                li{
                    color:$white;
                }
                span{
                    background: $purple;
                }
                
                h2{
                    padding-top: 30px;
                }
            }
            
            > li:before{
                display: block;
                width: $icon-size;
                height: $icon-size;
                @include border-radius(50%);
                content:"";
                background: $white;
                position: absolute;
                top: -$icon-size/2;
                left: -$icon-size/2;
                margin: 0 50%;
                transition: all 0.5s;
            }
            
            //> li:hover:before,
            > li.selected:before{
                background: $cian;
                top: 10px;
            }
            
            > li:after{
                display: block;
                width: $icon-size;
                height: $icon-size;
                font-family: $icons;
                color: $cian;
                position: absolute;
                top: -$icon-size/2;
                left: -$icon-size/2;
                margin: 0 50%;
                line-height: $icon-size;
                text-align: center;
                font-size: $icon-size/2+15;
                transition: all 0.5s;
            }
            
            //> li:hover:after,
            > li.selected:after{
                color: $cian2;
                top: 215px;
                font-size: 150px;
            }
            
            > li:nth-child(1):after{
                content:"\e601";
            }
            
            > li:nth-child(2):after{
                content:"\e602";
            }
            
            > li:nth-child(3):after{
                content:"\e61f";
            }
            
            span{
                display: block;
                position: absolute;
                left: 50.1%;
                bottom: -25px;
                margin: 0 -25px;
                overflow: hidden;
                width: 50px;
                height: 50px;
                background: $cian;
                color: $white;
                z-index: 5;
                font-family: $font;
                font-weight: 700;
                @include border-radius(50%);
                text-align: center;
                line-height: 55px;
                font-size: 20px;
                display: block;
                text-align: center;
            }
            >li:hover span,
            span:hover{
                background: $purple;
            }
        }
        
        .sectionsInfo{
            clear: both;
            background: $gray2;
            padding: 18px 0;
            overflow: hidden;
        
            li{
                overflow: hidden;
                display: none;
                padding-top: 20px;
                color: $white;
                position: relative;
                
                h2{
                    background: $gray3;
                    text-transform: uppercase;
                    line-height: 40px;
                    padding-left: 40px;
                    margin-top: 20px;
                }
                
                span{
                    display: block;
                    width: 50%;
                    padding: 0 0 0 20px;
                }
                
                p{
                    padding-top: 20px;
                }
                
                img{
                    position: absolute;
                    top:0;
                    right: 0;
                }
            }
            
            li.selected{
            }
        }
    }
}
